:root {
  --Semantic-Stroke-Variable-Primary: rgba(0, 0, 0, 0.11);
  --Semantic-Fill-Variable-Primary: #fff;
  --Semantic-Success-Tertiary: #c1ead8;
  --Semantic-RBC-Colors-My-RBC-Primary: #00a868;
  --Semantic-Fill-Variable-Secondary: rgba(0, 0, 0, 0.05);
}


